.order {
  background-color: white;
  width: 70%;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid darkslategrey;
  padding: 10px;
  direction: rtl;
  -webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
  white-space: pre-wrap;
}
.order td {
  width: 80%;
}
