.textarea {
  padding: 20px 0px;
  width: 40%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
}
.textarea textarea {
  border: 0.5px solid black;
  border-radius: 10px;
  width: 60%;
  height: 200px;
  margin: 30px;
  direction: rtl;
  padding: 10px;
}
.textarea input {
  border-radius: 8px;
  margin: 30px;
  direction: rtl;
}
.textarea input::placeholder,
.textarea textarea::placeholder {
  text-align: center;
}
.setError {
  margin-top: 10px;
}
