*{
    direction: rtl;
}
.example{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    padding: 10px;

    border-radius: 15px;
    background-color:#1d2f43 ;
}
.text{
    color: white;
    margin: 10px;
    display: flex;
    text-align: justify;
    align-items: center;
    flex-direction: column;
}
.example img{
    width: 50%;
}