.SideDrawer {
  width: 50%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 30px 15px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  display: flex;
  align-items: flex-start;
  /* justify-items: right; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
}
.boxbutton {
  position: absolute;
  bottom: 10%;
  left: 15%;
}
@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}
.open {
  transform: translateX(0);
}
.close {
  transform: translateX(100%);
}
