.intro {
  width: 60%;
  margin: 10px auto;
  display: flex;
}
.intro div {
  margin-left: 90px;
  width: 30%;
}
.intro img {
  height: 300px;
  margin: 10px;
}
.introleft {
  width: 60%;
  margin: 10px auto;
  display: flex;
  flex-direction: row-reverse;
}
.introleft div {
  margin-right: 80px;
  width: 40%;
}
h1 {
  background: #ff0000;
  background: -webkit-linear-gradient(to left, #ff0000 41%, #000000 100%);
  background: -moz-linear-gradient(to left, #ff0000 41%, #000000 100%);
  background: linear-gradient(to left, #ff0000 41%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  text-align: justify;
}
