.App {
  /* font-family: Vazir-Black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  direction: rtl;
  flex-flow: row;
  align-items: center;
  background-color: red; */
}

@font-face {
  font-family: "Vazir-Black";
  src: local("Vazir-Black"), url("./assets/fonts/Vazir-Black.ttf");
}
.IMG {
  position: fixed;
  top: 90%;
  left: 5%;
  z-index: 100;
}
.IMG img {
  width: 10%;
  cursor: pointer;
  color: black;
}
.IMG img:hover {
  width: 13%;
}
.extraClass {
  font-size: 15px !important;
  pointer-events: auto !important;
}
.extraClass:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

/* در صورتیکه سفارشی برای شما ثبت شده بر روی تصویر ذره بین کلیک کنید */
