.Header{
    backdrop-filter: blur(50px);
    background-color: #202a4455;
    margin-bottom: 35px;
}
.Header img{
    width: 100%;
    /* margin-top: 45px; */
}
.Header Switch {
    margin-top: 80px;
}