*{
    direction: rtl;
}
.head{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 40px;
    background-color:#2A363B ;
    color: white;
    margin: 50px;
    border-radius: 30px;
    /* background-color: red; */
}
.container h2{
    padding: 10px;
}
.Success {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #008000;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
  }
