*{
    /* direction: rtl; */
}
.head{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    direction: rtl;
    margin: auto;
    padding: 40px;
    /* backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.294); */
    backdrop-filter: blur(20px);
    background-color:#202a448c ;
    color: white;
    margin: 50px;
    border-radius: 30px;
    /* background-color: red; */
}
.container p{
    font-size: 20px;
}
.container h2{
    padding: 10px;
}
.Success {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #008000;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
margin: auto;
  }
